@font-face {
    font-family: Sahel;
    src: url('fonts/Sahel.eot');
    src: url('fonts/Sahel.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sahel.woff') format('woff'),
         url('fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
  }

.font {
    font-family: Sahel
}